API_URL=http://localhost:8000
WEB_URL=http://localhost:3000
DATABASE_URL=postgresql://user:secret@localhost:5434/ahia

NEXT_PUBLIC_WEB_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000

# BETTER AUTH
# Generate a new encryption key using the command:
# openssl rand -hex 32
BETTER_AUTH_SECRET=